<footer class="site-footer">
  <div class="container footer-grid">
    <p>© <span data-year></span> {{ site.author.name }} · Built with Eleventy</p>
    <ul class="social">
      <li><a href="https://github.com/{{ site.author.github }}" rel="me">GitHub</a></li>
      <li><a href="https://twitter.com/{{ site.author.twitter }}" rel="me">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" rel="me">LinkedIn</a></li>
    </ul>
  </div>
</footer>

