---
layout: layouts/base.njk
permalink: "/404.html"
title: Not Found
---

<section class="container section">
  <h1>Page not found</h1>
  <p>Sorry, we couldn’t find that page.</p>
  <a class="btn" href="/">Go home</a>
</section>

